html, body, .container-table {
   height:  100v;
}


.wrapper {    
  margin-top:15%;
  vertical-align:top;
}

/*p {
  width: 100px;
}
*/
.font-heading{
  font-family: 'Cormorant Garamond', serif;
  font-weight:600;
  font-size: 25px;
}

.font-sub-headings{
  font-family: 'Cormorant Garamond', serif;
  font-weight:600;
  font-size: 22px;
}
  
.font-text{ 
  font-family: 'Cormorant Garamond', serif;     
  font-size: 20px
}

a {
    /*text-decoration: none; */
    color: black; 
}

.about{
  display:block

}
.teaching{
  display:none;
}

.portfolio{
  display:none;
}
.resume{
  display:none;
}

.contact{
  display:none;
}
/*
#nav-heading {
  text-align: center;
}

#nav-heading ul {
  list-style: none;
}

#nav-heading ul li {
  display: inline;
}*/

ul{
  /*text-align: center;*/
  /*display: inline-block;*/
  /*margin-left: -8%;*/
}

ul#horizontal {
 list-style: none; 
}

ul#horizontal li{
  display: inline-block;
  /*text-align: center;*/
}

#lists {
  margin: 0 auto 0 auto;
  text-align: left;
  width:600px;
  /*width:100%;*/
  /*max-width:800px; */
}

#lists ul { 
  list-style: none; 
}

#lists ul li { 
  /*margin-top:5%*/
  /*display: inline-block;*/
}

.text-center {
}
