height-full {
  height: 100vh;
}

html, body, .container-table {
   height:  100vh;
}

.codewa{
    font-family: 'Inconsolata', monospace;
}

.brackets{
  color: orange;
}

.li{
  font-size: 30px;
}

.bg-dark {
  background-color: #3399FF;
  color: #fff;
}
.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.form-group {
 padding-top: 20px;
 width: 100%;
}

.form-centered {
  @extend .col-md-12;
}

.email{
  @extend .col-sm-9 ;
  padding-bottom: 15px;
  width: 100%;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
}

.submit-center {
   margin: 20px; 
}

