html, body, .container-table {
   height:  100v;
}
.container-table {
  vertical-align: top;
    /*margin-top:50%;*/
}

.img-group {
  margin-top:5%
  /*bottom:50%;*/
}

.wrapper {    
  vertical-align:top;
}

/*p {
  width: 100px;
}
*/
.font-heading{
  font-family: 'Cormorant Garamond', serif;
  font-weight:600;
}

.font-sub-headings{
  font-family: 'Cormorant Garamond', serif;
  font-weight:600;
}
  
.font-text{ 
  font-family: 'Cormorant Garamond', serif;     
  font-size: 20px
}

a {
    /*text-decoration: none; */
    color: black; 
}

.about{
  display:block

}
.portfolio{
  display:none;
}
.resume{
  display:none;
}

.contact{
  display:none;
}

.li{
  display: inline-block;
  /*text-align: center;*/
  font-size: 40px;
}

.ul {
  list-style: none
  display: inline;  
}


#lists {
  margin: 0 auto 0 auto;
  text-align: left;
  width:500px;
}

#lists ul { 
  list-style: none; 
}

#lists ul li { 
  /*margin-top:5%*/
  /*display: inline-block;*/
}

.text-center {
}


